In [1]:
import numpy as np
import pandas as pd

In [15]:
spf = pd.read_csv(r"C:\Users\user\Downloads\archive\StudentPerformanceFactors.csv")
spf

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,27/03/2016 0:53,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,04/04/2016 1:39,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,13/03/2016 20:35,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,10/01/2016 2:31,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,03/06/2016 3:36,0
...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,11/02/2016 21:49,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,22/04/2016 2:07,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,01/02/2016 17:24,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,24/03/2016 2:35,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,03/06/2016 21:43,1

In [17]:
spf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   object
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 78.3+ KB

In [27]:
spf.shape

(1000, 10)

In [29]:
spf.head(20)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,27/03/2016 0:53,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,04/04/2016 1:39,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,13/03/2016 20:35,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,10/01/2016 2:31,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,03/06/2016 3:36,0
5,59.99,23,59761.56,226.74,Sharable client-driven software,Jamieberg,1,Norway,19/05/2016 14:30,0
6,88.91,33,53852.85,208.36,Enhanced dedicated support,Brandonstad,0,Myanmar,28/01/2016 20:59,0
7,66.00,48,24593.33,131.76,Reactive local challenge,Port Jefferybury,1,Australia,07/03/2016 1:40,1
8,74.53,30,68862.00,221.51,Configurable coherent function,West Colin,1,Grenada,18/04/2016 9:33,0
9,69.88,20,55642.32,183.82,Mandatory homogeneous architecture,Ramirezton,1,Ghana,11/07/2016 1:42,0
10,47.64,49,45632.51,122.02,Centralized neutral neural-net,West Brandonton,0,Qatar,16/03/2016 20:19,1
11,83.07,37,62491.01,230.87,Team-oriented grid-enabled Local Area Network,East Theresashire,1,Burundi,08/05/2016 8:10,0
12,69.57,48,51636.92,113.12,Centralized content-based focus group,West Katiefurt,1,Egypt,03/06/2016 1:14,1
13,79.52,24,51739.63,214.23,Synergistic fresh-thinking array,North Tara,0,Bosnia and Herzegovina,20/04/2016 21:49,0
14,42.95,33,30976.00,143.56,Grass-roots coherent extranet,West William,0,Barbados,24/03/2016 9:31,1
15,63.45,23,52182.23,140.64,Persistent demand-driven interface,New Travistown,1,Spain,09/03/2016 3:41,1
16,55.39,37,23936.86,129.41,Customizable multi-tasking website,West Dylanberg,0,Palestinian Territory,30/01/2016 19:20,1
17,82.03,41,71511.08,187.53,Intuitive dynamic attitude,Pruittmouth,0,Afghanistan,02/05/2016 7:00,0
18,54.70,36,31087.54,118.39,Grass-roots solution-oriented conglomeration,Jessicastad,1,British Indian Ocean Territory (Chagos Archipe...,13/02/2016 7:53,1
19,74.58,40,23821.72,135.51,Advanced 24/7 productivity,Millertown,1,Russian Federation,27/02/2016 4:43,1

In [31]:
spf.tail(20)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
980,67.26,57,25682.65,168.41,Focused incremental Graphic Interface,North Derekville,1,Bulgaria,27/05/2016 5:54,1
981,76.58,46,41884.64,258.26,Secured 24hour policy,West Sydney,0,Uzbekistan,03/01/2016 16:30,0
982,54.37,38,72196.29,140.77,Up-sized asymmetric firmware,Lake Matthew,0,Mexico,25/06/2016 18:17,1
983,82.79,32,54429.17,234.81,Distributed fault-tolerant service-desk,Lake Zacharyfurt,1,Brunei Darussalam,24/02/2016 10:36,0
984,66.47,31,58037.66,256.39,Vision-oriented human-resource synergy,Lindsaymouth,1,France,03/03/2016 3:13,0
985,72.88,44,64011.26,125.12,Customer-focused explicit challenge,Sarahland,0,Yemen,21/04/2016 19:56,1
986,76.44,28,59967.19,232.68,Synchronized human-resource moderator,Port Julie,1,Northern Mariana Islands,06/04/2016 17:26,0
987,63.37,43,43155.19,105.04,Open-architected full-range projection,Michaelshire,1,Poland,23/03/2016 12:53,1
988,89.71,48,51501.38,204.40,Versatile local forecast,Sarafurt,1,Bahrain,17/02/2016 7:00,0
989,70.96,31,55187.85,256.40,Ameliorated user-facing help-desk,South Denise,0,Saint Pierre and Miquelon,26/06/2016 7:01,0
990,35.79,44,33813.08,165.62,Enterprise-wide tangible model,North Katie,1,Tonga,20/04/2016 13:36,1
991,38.96,38,36497.22,140.67,Versatile mission-critical application,Mauricefurt,1,Comoros,21/07/2016 16:02,1
992,69.17,40,66193.81,123.62,Extended leadingedge solution,New Patrick,0,Montenegro,06/03/2016 11:36,1
993,64.20,27,66200.96,227.63,Phased zero tolerance extranet,Edwardsmouth,1,Isle of Man,11/02/2016 23:45,0
994,43.70,28,63126.96,173.01,Front-line bifurcated ability,Nicholasland,0,Mayotte,04/04/2016 3:57,1
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,11/02/2016 21:49,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,22/04/2016 2:07,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,01/02/2016 17:24,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,24/03/2016 2:35,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,03/06/2016 21:43,1

In [47]:
spf.sum()["Male"]

481

In [85]:
spf[spf["Male"]== 30].count()

Daily Time Spent on Site    0
Age                         0
Area Income                 0
Daily Internet Usage        0
Ad Topic Line               0
City                        0
Male                        0
Country                     0
Timestamp                   0
Clicked on Ad               0
dtype: int64

In [49]:
spf["Age"]

0      35
1      31
2      26
3      29
4      35
       ..
995    30
996    45
997    51
998    19
999    26
Name: Age, Length: 1000, dtype: int64

In [55]:
spf["Age"][200:500]

200    40
201    29
202    40
203    31
204    29
       ..
495    35
496    29
497    39
498    27
499    37
Name: Age, Length: 300, dtype: int64

In [59]:
spf["Age"].min()

19

In [61]:
spf["Age"].max()

61

In [63]:
spf["Age"].mean()

36.009

In [67]:
spf.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Daily Time Spent on Site,1000.0,65.00020,15.853615,32.60,51.3600,68.215,78.5475,91.43
Age,1000.0,36.00900,8.785562,19.00,29.0000,35.000,42.0000,61.00
Area Income,1000.0,55000.00008,13414.634022,13996.50,47031.8025,57012.300,65470.6350,79484.80
Daily Internet Usage,1000.0,180.00010,43.902339,104.78,138.8300,183.130,218.7925,269.96
Male,1000.0,0.48100,0.499889,0.00,0.0000,0.000,1.0000,1.00
Clicked on Ad,1000.0,0.50000,0.500250,0.00,0.0000,0.500,1.0000,1.00

In [87]:
spf[["Age","Area Income"]].corr()

                  Age  Area Income
Age          1.000000    -0.182605
Area Income -0.182605     1.000000

In [91]:
spf.columns

Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Ad Topic Line', 'City', 'Male', 'Country',
       'Timestamp', 'Clicked on Ad'],
      dtype='object')

In [97]:
spf[["Country","City"]].nunique()

Country    237
City       969
dtype: int64

In [105]:
spf.groupby("Daily Time Spent on Site").describe().transpose()

Daily Time Spent on Site           32.60     32.84     32.91     32.99  \
Age                  count      2.000000      1.00      1.00      1.00
                     mean      41.500000     40.00     37.00     45.00
                     std        4.949747       NaN       NaN       NaN
                     min       38.000000     40.00     37.00     45.00
                     25%       39.750000     40.00     37.00     45.00
                     50%       41.500000     40.00     37.00     45.00
                     75%       43.250000     40.00     37.00     45.00
                     max       45.000000     40.00     37.00     45.00
Area Income          count      2.000000      1.00      1.00      1.00
                     mean   44182.620000  41232.89  51691.55  49282.87
                     std     5689.975131       NaN       NaN       NaN
                     min    40159.200000  41232.89  51691.55  49282.87
                     25%    42170.910000  41232.89  51691.55  49282.87
                     50%    44182.620000  41232.89  51691.55  49282.87
                     75%    46194.330000  41232.89  51691.55  49282.87
                     max    48206.040000  41232.89  51691.55  49282.87
Daily Internet Usage count      2.000000      1.00      1.00      1.00
                     mean     187.760000    171.72    181.02    177.46
                     std        3.238549       NaN       NaN       NaN
                     min      185.470000    171.72    181.02    177.46
                     25%      186.615000    171.72    181.02    177.46
                     50%      187.760000    171.72    181.02    177.46
                     75%      188.905000    171.72    181.02    177.46
                     max      190.050000    171.72    181.02    177.46
Male                 count      2.000000      1.00      1.00      1.00
                     mean       0.000000      0.00      0.00      0.00
                     std        0.000000       NaN       NaN       NaN
                     min        0.000000      0.00      0.00      0.00
                     25%        0.000000      0.00      0.00      0.00
                     50%        0.000000      0.00      0.00      0.00
                     75%        0.000000      0.00      0.00      0.00
                     max        0.000000      0.00      0.00      0.00
Clicked on Ad        count      2.000000      1.00      1.00      1.00
                     mean       1.000000      1.00      1.00      1.00
                     std        0.000000       NaN       NaN       NaN
                     min        1.000000      1.00      1.00      1.00
                     25%        1.000000      1.00      1.00      1.00
                     50%        1.000000      1.00      1.00      1.00
                     75%        1.000000      1.00      1.00      1.00
                     max        1.000000      1.00      1.00      1.00

Daily Time Spent on Site       33.21     33.33     33.52     34.04     34.30  \
Age                  count      1.00      1.00      1.00      1.00      1.00
                     mean      43.00     45.00     43.00     34.00     41.00
                     std         NaN       NaN       NaN       NaN       NaN
                     min       43.00     45.00     43.00     34.00     41.00
                     25%       43.00     45.00     43.00     34.00     41.00
                     50%       43.00     45.00     43.00     34.00     41.00
                     75%       43.00     45.00     43.00     34.00     41.00
                     max       43.00     45.00     43.00     34.00     41.00
Area Income          count      1.00      1.00      1.00      1.00      1.00
                     mean   42650.32  53350.11  42191.61  40182.84  53167.68
                     std         NaN       NaN       NaN       NaN       NaN
                     min    42650.32  53350.11  42191.61  40182.84  53167.68
                     25%    42650.32  53350.11  42191.61  40182.84  53167.68
                     50%    42650.32  53350.11  42191.61  40182.84  53167.68
                     75%    42650.32  53350.11  42191.61  40182.84  53167.68
                     max    42650.32  53350.11  42191.61  40182.84  53167.68
Daily Internet Usage count      1.00      1.00      1.00      1.00      1.00
                     mean     167.07    193.58    165.56    174.88    160.74
                     std         NaN       NaN       NaN       NaN       NaN
                     min      167.07    193.58    165.56    174.88    160.74
                     25%      167.07    193.58    165.56    174.88    160.74
                     50%      167.07    193.58    165.56    174.88    160.74
                     75%      167.07    193.58    165.56    174.88    160.74
                     max      167.07    193.58    165.56    174.88    160.74
Male                 count      1.00      1.00      1.00      1.00      1.00
                     mean       1.00      1.00      0.00      1.00      1.00
                     std         NaN       NaN       NaN       NaN       NaN
                     min        1.00      1.00      0.00      1.00      1.00
                     25%        1.00      1.00      0.00      1.00      1.00
                     50%        1.00      1.00      0.00      1.00      1.00
                     75%        1.00      1.00      0.00      1.00      1.00
                     max        1.00      1.00      0.00      1.00      1.00
Clicked on Ad        count      1.00      1.00      1.00      1.00      1.00
                     mean       1.00      1.00      1.00      1.00      1.00
                     std         NaN       NaN       NaN       NaN       NaN
                     min        1.00      1.00      1.00      1.00      1.00
                     25%        1.00      1.00      1.00      1.00      1.00
                     50%        1.00      1.00      1.00      1.00      1.00
                     75%        1.00      1.00      1.00      1.00      1.00
                     max        1.00      1.00      1.00      1.00      1.00

Daily Time Spent on Site       34.66  ...     89.66     89.71     89.80  \
Age                  count      1.00  ...      1.00      1.00      1.00
                     mean      32.00  ...     34.00     48.00     36.00
                     std         NaN  ...       NaN       NaN       NaN
                     min       32.00  ...     34.00     48.00     36.00
                     25%       32.00  ...     34.00     48.00     36.00
                     50%       32.00  ...     34.00     48.00     36.00
                     75%       32.00  ...     34.00     48.00     36.00
                     max       32.00  ...     34.00     48.00     36.00
Area Income          count      1.00  ...      1.00      1.00      1.00
                     mean   48246.60  ...  52802.58  51501.38  57330.43
                     std         NaN  ...       NaN       NaN       NaN
                     min    48246.60  ...  52802.58  51501.38  57330.43
                     25%    48246.60  ...  52802.58  51501.38  57330.43
                     50%    48246.60  ...  52802.58  51501.38  57330.43
                     75%    48246.60  ...  52802.58  51501.38  57330.43
                     max    48246.60  ...  52802.58  51501.38  57330.43
Daily Internet Usage count      1.00  ...      1.00      1.00      1.00
                     mean     194.83  ...    171.23    204.40    198.24
                     std         NaN  ...       NaN       NaN       NaN
                     min      194.83  ...    171.23    204.40    198.24
                     25%      194.83  ...    171.23    204.40    198.24
                     50%      194.83  ...    171.23    204.40    198.24
                     75%      194.83  ...    171.23    204.40    198.24
                     max      194.83  ...    171.23    204.40    198.24
Male                 count      1.00  ...      1.00      1.00      1.00
                     mean       0.00  ...      1.00      1.00      0.00
                     std         NaN  ...       NaN       NaN       NaN
                     min        0.00  ...      1.00      1.00      0.00
                     25%        0.00  ...      1.00      1.00      0.00
                     50%        0.00  ...      1.00      1.00      0.00
                     75%        0.00  ...      1.00      1.00      0.00
                     max        0.00  ...      1.00      1.00      0.00
Clicked on Ad        count      1.00  ...      1.00      1.00      1.00
                     mean       1.00  ...      0.00      0.00      0.00
                     std         NaN  ...       NaN       NaN       NaN
                     min        1.00  ...      0.00      0.00      0.00
                     25%        1.00  ...      0.00      0.00      0.00
                     50%        1.00  ...      0.00      0.00      0.00
                     75%        1.00  ...      0.00      0.00      0.00
                     max        1.00  ...      0.00      0.00      0.00

Daily Time Spent on Site       89.91     90.75     90.97     91.10     91.15  \
Age                  count      1.00      1.00      1.00      1.00      1.00
                     mean      40.00     40.00     37.00     40.00     38.00
                     std         NaN       NaN       NaN       NaN       NaN
                     min       40.00     40.00     37.00     40.00     38.00
                     25%       40.00     40.00     37.00     40.00     38.00
                     50%       40.00     40.00     37.00     40.00     38.00
                     75%       40.00     40.00     37.00     40.00     38.00
                     max       40.00     40.00     37.00     40.00     38.00
Area Income          count      1.00      1.00      1.00      1.00      1.00
                     mean   59593.56  45945.88  54520.14  55499.69  36834.04
                     std         NaN       NaN       NaN       NaN       NaN
                     min    59593.56  45945.88  54520.14  55499.69  36834.04
                     25%    59593.56  45945.88  54520.14  55499.69  36834.04
                     50%    59593.56  45945.88  54520.14  55499.69  36834.04
                     75%    59593.56  45945.88  54520.14  55499.69  36834.04
                     max    59593.56  45945.88  54520.14  55499.69  36834.04
Daily Internet Usage count      1.00      1.00      1.00      1.00      1.00
                     mean     194.23    216.50    180.77    198.13    184.98
                     std         NaN       NaN       NaN       NaN       NaN
                     min      194.23    216.50    180.77    198.13    184.98
                     25%      194.23    216.50    180.77    198.13    184.98
                     50%      194.23    216.50    180.77    198.13    184.98
                     75%      194.23    216.50    180.77    198.13    184.98
                     max      194.23    216.50    180.77    198.13    184.98
Male                 count      1.00      1.00      1.00      1.00      1.00
                     mean       0.00      0.00      0.00      1.00      0.00
                     std         NaN       NaN       NaN       NaN       NaN
                     min        0.00      0.00      0.00      1.00      0.00
                     25%        0.00      0.00      0.00      1.00      0.00
                     50%        0.00      0.00      0.00      1.00      0.00
                     75%        0.00      0.00      0.00      1.00      0.00
                     max        0.00      0.00      0.00      1.00      0.00
Clicked on Ad        count      1.00      1.00      1.00      1.00      1.00
                     mean       0.00      0.00      0.00      0.00      0.00
                     std         NaN       NaN       NaN       NaN       NaN
                     min        0.00      0.00      0.00      0.00      0.00
                     25%        0.00      0.00      0.00      0.00      0.00
                     50%        0.00      0.00      0.00      0.00      0.00
                     75%        0.00      0.00      0.00      0.00      0.00
                     max        0.00      0.00      0.00      0.00      0.00

Daily Time Spent on Site       91.37     91.43
Age                  count      1.00      1.00
                     mean      45.00     39.00
                     std         NaN       NaN
                     min       45.00     39.00
                     25%       45.00     39.00
                     50%       45.00     39.00
                     75%       45.00     39.00
                     max       45.00     39.00
Area Income          count      1.00      1.00
                     mean   51920.49  46964.11
                     std         NaN       NaN
                     min    51920.49  46964.11
                     25%    51920.49  46964.11
                     50%    51920.49  46964.11
                     75%    51920.49  46964.11
                     max    51920.49  46964.11
Daily Internet Usage count      1.00      1.00
                     mean     182.65    209.91
                     std         NaN       NaN
                     min      182.65    209.91
                     25%      182.65    209.91
                     50%      182.65    209.91
                     75%      182.65    209.91
                     max      182.65    209.91
Male                 count      1.00      1.00
                     mean       1.00      1.00
                     std         NaN       NaN
                     min        1.00      1.00
                     25%        1.00      1.00
                     50%        1.00      1.00
                     75%        1.00      1.00
                     max        1.00      1.00
Clicked on Ad        count      1.00      1.00
                     mean       1.00      0.00
                     std         NaN       NaN
                     min        1.00      0.00
                     25%        1.00      0.00
                     50%        1.00      0.00
                     75%        1.00      0.00
                     max        1.00      0.00

[40 rows x 900 columns]

In [109]:
spf["Age"].argmax()

671

In [111]:
spf["Age"].argmin()

349

In [113]:
spf["Age"].idxmax()

671

In [115]:
spf["Age"].idxmin()

349

In [143]:
spf.rank()[["Country","Area Income"]]

     Country  Area Income
0      897.5        646.0
1      637.0        854.0
2      779.0        576.0
3      460.0        438.0
4      433.0        956.0
..       ...          ...
995    511.5        915.0
996    120.0        840.0
997    618.5        179.0
998    391.5        171.0
999    131.0         59.0

[1000 rows x 2 columns]

In [157]:
spf.rank()["Age"]

0      503.0
1      333.5
2      117.0
3      240.5
4      503.0
       ...
995    284.0
996    828.5
997    934.5
998      3.5
999    117.0
Name: Age, Length: 1000, dtype: float64

In [163]:
spf.rank()["Country"]

0      897.5
1      637.0
2      779.0
3      460.0
4      433.0
       ...
995    511.5
996    120.0
997    618.5
998    391.5
999    131.0
Name: Country, Length: 1000, dtype: float64

In [173]:
spf["Country"].value_counts().head(20)

Country
France            9
Czech Republic    9
Peru              8
Turkey            8
Greece            8
Senegal           8
Liberia           8
Australia         8
South Africa      8
Micronesia        8
Cyprus            8
Afghanistan       8
Taiwan            7
Cambodia          7
Luxembourg        7
Eritrea           7
Fiji              7
Burundi           7
Venezuela         7
Bahamas           7
Name: count, dtype: int64

In [177]:
len(spf.columns)

10

In [179]:
len(spf.index)

1000

In [181]:
spf.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,27/03/2016 0:53,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,04/04/2016 1:39,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,13/03/2016 20:35,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,10/01/2016 2:31,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,03/06/2016 3:36,0

In [201]:
spf[spf["Male"] ==  0].count()

Daily Time Spent on Site    519
Age                         519
Area Income                 519
Daily Internet Usage        519
Ad Topic Line               519
City                        519
Male                        519
Country                     519
Timestamp                   519
Clicked on Ad               519
dtype: int64

In [193]:
spf[spf["Male"] ==0]["Male"].count()

519

In [205]:
spf[spf["Country"]=="Tunisia"]["Age"]

0      35
41     30
68     25
910    52
Name: Age, dtype: int64

In [207]:
spf[spf["Country"]=="Tunisia"].count()

Daily Time Spent on Site    4
Age                         4
Area Income                 4
Daily Internet Usage        4
Ad Topic Line               4
City                        4
Male                        4
Country                     4
Timestamp                   4
Clicked on Ad               4
dtype: int64

In [209]:
spf[spf["Country"]=="Tunisia"].value_counts()

Daily Time Spent on Site  Age  Area Income  Daily Internet Usage  Ad Topic Line                       City               Male  Country  Timestamp         Clicked on Ad
42.84                     52   27073.27     182.20                Enhanced optimizing website         Lake Michellebury  1     Tunisia  21/03/2016 11:02  1                1
64.24                     30   59784.18     252.36                Front-line intermediate database    Zacharystad        0     Tunisia  16/04/2016 11:53  0                1
68.95                     35   61833.90     256.09                Cloned 5thgeneration orchestration  Wrightburgh        0     Tunisia  27/03/2016 0:53   0                1
75.74                     25   61005.87     215.25                Ergonomic multi-state structure     New Sheila         1     Tunisia  16/01/2016 11:35  0                1
Name: count, dtype: int64

In [225]:
spf.rank()["Area Income"].head(5)

0    646.0
1    854.0
2    576.0
3    438.0
4    956.0
Name: Area Income, dtype: float64

In [227]:
spf.rank()["Area Income"].tail(5)

995    915.0
996    840.0
997    179.0
998    171.0
999     59.0
Name: Area Income, dtype: float64

In [261]:
spf[(spf["Area Income"] >= 70000) & (spf["Male"] == 1)]

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
65,62.42,29,73910.90,198.50,Upgradable optimizing toolset,Jasminefort,1,Canada,10/03/2016 23:36,0
72,55.35,39,75509.61,153.17,De-engineered object-oriented protocol,East Tammie,1,Cook Islands,08/03/2016 0:37,1
114,69.00,32,72683.35,221.21,Virtual composite model,Port Susan,1,Trinidad and Tobago,11/02/2016 4:37,0
139,75.80,38,70575.60,146.19,Progressive clear-thinking open architecture,Ashleychester,1,Thailand,18/04/2016 11:23,0
160,76.32,35,74166.24,195.31,Networked foreground definition,East Michaeltown,1,Korea,23/06/2016 0:16,0
171,71.84,47,76003.47,199.79,Advanced exuding conglomeration,North Randy,1,Malawi,08/05/2016 22:47,0
198,73.41,31,73049.30,201.26,Profound executive flexibility,Hollyfurt,1,Guam,16/01/2016 8:01,0
203,70.04,31,74780.74,183.85,Intuitive radical forecast,Hannahside,1,Jordan,27/03/2016 3:59,0
213,67.28,43,76246.96,155.80,Future-proofed coherent hardware,North Mercedes,1,Pakistan,03/04/2016 21:13,1
230,66.67,33,72707.87,228.03,Horizontal content-based synergy,Turnerview,1,Taiwan,21/04/2016 20:29,0
262,59.21,35,73347.67,144.62,Managed disintermediate matrices,Lake Beckyburgh,1,Liechtenstein,02/02/2016 8:55,1
271,73.04,37,73687.50,221.79,Organic contextually-based focus group,Erinmouth,1,Senegal,19/06/2016 22:26,0
292,55.20,39,76560.59,159.46,Exclusive zero tolerance alliance,Jordantown,1,United States of America,30/05/2016 7:36,1
294,71.55,36,75687.46,163.99,Inverse next generation moratorium,South Troy,1,Suriname,20/07/2016 23:08,0
310,76.56,34,70179.11,221.53,Universal bi-directional extranet,Jeremyshire,1,Dominica,23/04/2016 8:15,0
338,74.38,40,74024.61,220.05,Enhanced zero tolerance Graphic Interface,East Graceland,1,Indonesia,13/03/2016 13:50,0
353,79.54,44,70492.60,217.68,Centralized multi-state hierarchy,Sandraland,1,Cambodia,05/01/2016 16:34,0
364,69.11,42,73608.99,231.48,Face-to-face mission-critical definition,Novaktown,1,Faroe Islands,21/04/2016 12:34,0
366,72.45,29,72325.91,195.36,Centralized 24hour synergy,Robertmouth,1,Svalbard & Jan Mayen Islands,11/01/2016 6:02,0
388,68.10,40,74903.41,227.73,Reactive composite project,Thomasstad,1,Honduras,05/02/2016 16:50,0
398,76.24,40,75524.78,198.32,Managed impactful definition,Bakerhaven,1,Burkina Faso,31/05/2016 23:42,0
419,60.70,43,79332.33,192.60,Multi-tiered multi-state moderator,Mataberg,1,Palau,06/06/2016 22:41,0
426,54.43,37,75180.20,154.74,Balanced contextually-based pricing structure,Williamsmouth,1,Luxembourg,31/05/2016 9:06,1
458,64.88,42,70005.51,129.80,Customizable systematic service-desk,West Chloeborough,1,Equatorial Guinea,14/02/2016 22:23,1
475,75.15,33,71296.67,219.49,Synchronized zero tolerance product,Smithtown,1,France,19/06/2016 18:19,0
481,83.26,40,70225.60,187.76,Decentralized foreground infrastructure,Alanview,1,Tonga,02/01/2016 14:36,0
492,59.88,30,75535.14,193.63,Reverse-engineered content-based intranet,West Michaelstad,1,French Polynesia,02/03/2016 5:11,0
505,80.47,42,70505.06,215.18,Grass-roots multimedia policy,East Jennifer,1,Mali,21/02/2016 5:23,0
535,78.76,32,70012.83,208.02,Managed attitude-oriented Internet solution,East Valerie,1,Uruguay,20/04/2016 10:04,0
539,72.03,34,70783.94,230.95,Up-sized bi-directional infrastructure,Greerton,1,Malta,05/07/2016 22:33,0
540,77.47,36,70510.59,222.91,Assimilated actuating policy,Hatfieldshire,1,Jamaica,14/03/2016 3:29,0
549,73.89,35,70495.64,229.99,Multi-channeled asymmetric installation,Dustinborough,1,Somalia,26/06/2016 17:25,0
568,64.51,42,79484.80,190.71,Virtual 5thgeneration neural-net,Edwardmouth,1,Madagascar,29/04/2016 7:49,0
677,47.23,38,70582.55,149.80,Implemented context-sensitive Local Area Network,Blevinstown,1,Tokelau,22/06/2016 5:22,1
694,68.25,33,76480.16,198.86,Organic well-modulated database,New Jamestown,1,Vanuatu,30/05/2016 8:02,0
708,46.89,48,72553.94,176.78,Polarized mission-critical structure,Chaseshire,1,Turkey,17/07/2016 13:22,1
711,69.96,31,73413.87,214.06,Realigned tangible collaboration,New Kayla,1,Netherlands,20/05/2016 12:17,0
718,68.95,51,74623.27,185.85,Front-line bandwidth-monitored capacity,South Adamhaven,1,United States Virgin Islands,15/03/2016 20:19,0
738,47.23,43,73538.09,210.87,Optimized upward-trending productivity,Yangside,1,Svalbard & Jan Mayen Islands,17/03/2016 22:24,1
742,71.90,29,72203.96,193.29,De-engineered intangible flexibility,Williamsside,1,Costa Rica,24/04/2016 7:20,0
755,65.07,34,73941.91,227.53,Monitored explicit hierarchy,Princebury,1,Anguilla,11/03/2016 0:05,0
780,67.85,41,78520.99,202.70,Reactive tangible contingency,East Ronald,1,Saint Helena,21/01/2016 22:51,1
798,66.83,46,77871.75,196.17,Assimilated hybrid initiative,North Jeremyport,1,Cyprus,28/02/2016 23:10,0
843,74.61,38,71055.22,231.28,Networked impactful framework,East Christopher,1,South Africa,06/04/2016 23:10,0
877,68.68,34,77220.42,187.03,Sharable encompassing database,Lake Jenniferton,1,Equatorial Guinea,15/07/2016 9:42,0
924,59.64,51,71455.62,153.12,Re-contextualized human-resource success,Evansville,1,Guyana,03/05/2016 1:09,1
946,72.82,34,75769.82,191.82,User-centric discrete success,Jonesmouth,1,Czech Republic,27/01/2016 16:06,0
948,59.01,30,75265.96,178.75,Focused multimedia implementation,West Annefort,1,Philippines,08/02/2016 22:45,1
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,11/02/2016 21:49,1

In [263]:
spf[(spf["Area Income"] >= 70000) & (spf["Male"] == 1)].index

Index([ 65,  72, 114, 139, 160, 171, 198, 203, 213, 230, 262, 271, 292, 294,
       310, 338, 353, 364, 366, 388, 398, 419, 426, 458, 475, 481, 492, 505,
       535, 539, 540, 549, 568, 677, 694, 708, 711, 718, 738, 742, 755, 780,
       798, 843, 877, 924, 946, 948, 995],
      dtype='int64')

In [265]:
len(spf[(spf["Area Income"] >= 70000) & (spf["Male"] == 1)].index)

49

In [267]:
spf[(spf["Area Income"] >= 70000) & (spf["Male"] == 1)].info()

<class 'pandas.core.frame.DataFrame'>
Index: 49 entries, 65 to 995
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  49 non-null     float64
 1   Age                       49 non-null     int64
 2   Area Income               49 non-null     float64
 3   Daily Internet Usage      49 non-null     float64
 4   Ad Topic Line             49 non-null     object
 5   City                      49 non-null     object
 6   Male                      49 non-null     int64
 7   Country                   49 non-null     object
 8   Timestamp                 49 non-null     object
 9   Clicked on Ad             49 non-null     int64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.2+ KB

In [275]:
spf[(spf["Age"] >= 50) & (spf["City"]== spf["City"][0]=="T")]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
spf[(spf["Age"] >= 50) & (spf["City"]== spf["City"][0]=="T")]